<table  style="float: left" >
    <br>
    <p > name <input type="text" [(ngModel)]="employee.name" /> </p>
    <p >  age  <input type="text" [(ngModel)]="employee.age" /></p>
    <p > salary <input type="text" [(ngModel)]="employee.salary" /></p>
    <p >
      <a href="./login/employee/list"><button  pButton label="ثبت" (click)="saveEmployee()" ></button></a>
    </p>
  </table>
<table style="float: right" dir="rtl">
  <button pButton label="منو"></button>
  <br>
  <br>
  <a href="./login/employee/list"><button pButton label="مدیریت کارمندان" ></button></a>
  <br>
  <a href="./login/chat/box1"><button  pButton label="چت"  ></button></a>
</table>

