  <table width="1150px" style="float: left" >
    <tr>
    <td> <app-box2 style="float: left" ></app-box2> </td>
    <td> <table border="1" width="400px"   style="background-color: lightsteelblue;">
       <p align="center" ><input id="input" type="text"  ></p>
     </table>
    </td>
    </tr>
  </table>

<table style="float: right" dir="rtl">
  <button pButton label="منو"></button>
  <br>
  <br>
  <a href="./login/employee/list"><button pButton label="مدیریت کارمندان" ></button></a>
  <br>
  <a href="./login/chat/box1"><button pButton label="چت"  ></button></a>
</table>
