<table border="1" width="500px" align="center" >
  <tr > <h2 align="center"  > welcome.... </h2></tr>
  <br>
  <p align="center" style="margin:50px">username  <input [(ngModel)]="username" type="text"  /></p>
  <p align="center" style="margin:50px">password  <input [(ngModel)]="password" type="password"  /></p>

  <p align="center" style="margin:50px">
    <button pButton label="ورود" (click)="Login()" ></button>
  </p>
  <br>
</table>
